{% extends 'plug/core.html' %}
{% block head_title %}{{ title }}{% endblock %}
{% load i18n %}
{% load static %}
{% block content %}


<section style="background-color:rgba(0,0,0,0.2);
         color:#000; font-weight:bold;opacity:100%; border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);margin-top:10vh;"class=" container wow fadeIn home-section align-items-center" id="home">
            <div class="container">
               <div class="row align-items-center">
                   <div  class="col-md-4 mb-4"></div>

                       <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                       </div>

                            <div class="col-span-2">
                            </div>
         <div class="home-text" style="margin:2%;" >
                                <img  style=" border-radius:100%;margin-bottom:40px;" width="100" height="100" src=" {{user.address.profileimg.url}}" /> <br>
                                 <label >Hey {{ user.first_name}} ,Do You Have Products <br>
                                     That You would like to<br> Advertise and sell online<br> Post Them Here</label>

              <input align="center" readonly placeholder="WhatsApp Account No." style="width:80%;" type="tel" id="postal_code" value="Phone Number| 0{{user.address.postal_code}}" name="postal_code" class="bty shadow-none bg-gray-100">
             <input type="text" readonly name="apartment_address" value=" Your Location| {{user.address.apartment_address}}" style="width:80%;" class=" bty shadow-none bg-gray-100">
             <input type="text" readonly name="apartment_address" value="  {{user.address.slug }}" style="width:80%;" class=" bty shadow-none bg-gray-100">
                       </div>

                            </div>
 <div class="home-text">
       <form method="POST" action="ItemsPost" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
          style="width:100%; border: 2px solid  #f6f4f0;opacity:1px;color:green;margin-top: 40px; padding:10%; border-radius:40px;">
        {% csrf_token %}
        {% for field in form %}
        <div class=" mb-4">
            <input  required style="width:95%;" class="bty  text-decoration:none;shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="{{ field.label }}" name="{{ field.name }}" id="{{ field.label }}" type="{{ field.widget_type }}">
        </div>
            {% if field.errors %}
                {% for error in field.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="flex items-center justify-between">
             <br>
                    <button style="width:80%;background-color:#6BBE4E;" type="submit" class=" btn bg-gradient-to-br from-black-500 py-3 rounded-md text-green text-xl to-green-400 w-full">Save</button>
        </div>
    </form>
 <form method="POST"  style="width:100%; border: 2px solid  #f6f4f0;opacity:1px;color:green;margin-top: 40px; padding:2%; border-radius:40px;" class="shadow-md rounded px-8 pt-6 pb-8 mb-4" action="add_product" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="items-center justify-between">
             <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                  Product Name
                </label>
              <input  style="margin-top:20px;width:90%;" class="btn" type="text" name="title" value="{{item.title}}">

             <br>
                 <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                   discount price
                </label>
              <input  style="margin-top:20px;width:90%;" class="btn" type="number" name="discount_price" value="{{item.discount_price}}">

             <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    price
                </label>
              <input  style="margin-top:20px;width:90%;" class="btn" type="number" name="price" value="{{item.price}}">
                  <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                   Category
                </label>
              <input  style="margin-top:20px;width:90%;" class="btn" type="text" name="category" value="{{item.category}}">

             <br>
             <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                   Product Label
                </label>
              <input  style="margin-top:20px;width:90%;" class="btn" type="text" name="label" value="{{item.label}}">

             <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    Product Code
                </label>
               <input  style="margin-top:20px;width:90%;" class="btn" type="text" name="slug">
             <br>
             <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                User
                </label>
            <br>
             <input type="text" readonly name="apartment_address" value="  {{user.address.slug }}" style="width:80%;" class=" bty shadow-none bg-gray-100">
             <br>
                                   {{ItemRegistrationForm.image}}
            <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    Item image.
                </label>
                <input  style="margin-top:20px;width:90%;" class="btn" type="file" name="image">
             <br>
            <label style="margin-top:10px;" class="btn block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    Description
                </label>
            <textarea style="font-family:Comic Sans Mn;width:80%;color:#001100;border-radius:7px;margin-top:20px;font-weight:bold;" class="bty button soft-warning small" name="description" placeholder="Product Description.." ></textarea>

             <br>
                       <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button style=" border-radius:7px;background-color:#000; " class=" bty p-2 px-4 rounded bg-gray-50 text-red-500"> <a style="color:#f6f4f0;" href="/">Cancel</a> </button>
                           <button style=" border-radius:7px; background-color:#008800; color:#001100;" type="submit" class=" bty button bg-blue-700"> Save </button>
                       </div></div></form>
 </div>
                       </div>
</section>
{% endblock %}