{% load static %}
  
<script type="text/javascript" src="{% static 'openSoko/js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'openSoko/js/popper.min.js' %}"></script>
<!-- Bootstrap openSoko JavaScript -->
<script type="text/javascript" src="{% static 'openSoko/js/bootstrap.min.js' %}"></script>
<!-- MDB openSoko JavaScript -->
<script type="text/javascript" src="{% static 'openSoko/js/mdb.min.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>