{% load static %}




   <link rel="stylesheet" href="{% static '/academy/css/Academy.css' %}">
      <link rel="stylesheet" href="{% static '/academy/css/index.css' %}">
    <script type="text/javascript" src="{% static '/academy/js/sw.js' %}"> </script>
    <script type="text/javascript" src="{% static '/academy/js/bundle.js' %}"> </script>
<script src="{% static '/academy/js/bundle.js?v=0.2.19' %}" defer></script>
<!--     ////////////////////////////  This the Partners Slides From Right To Left   /////////////////////////////-->
        <div class="pt-partner">
          <div class="pt-partner-content -cb">
            <div class="pt-partner-container">
              <div class="pt-partner-header -xs">
                <h2>
                  Integrates with 50+ sales
                  <span style="white-space: nowrap">and marketing</span> tools
                </h2>
              </div>
            </div>
            <div class="pt-partner-bundle">
              <div class="pt-partner-logos">
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/outreach.png"
                    srcset="/assets/img/partner/outreach@2x.png 2x"
                    loading="lazy"
                    alt="Outreach"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/hubspot.png"
                    srcset="/assets/img/partner/hubspot@2x.png 2x"
                    loading="lazy"
                    alt="Hubspot"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/apollo.png"
                    srcset="/assets/img/partner/apollo@2x.png 2x"
                    loading="lazy"
                    alt="Apollo"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/salesloft.png"
                    srcset="/assets/img/partner/salesloft@2x.png 2x"
                    loading="lazy"
                    alt="Salesloft"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/instantly.png"
                    srcset="/assets/img/partner/instantly@2x.png 2x"
                    loading="lazy"
                    alt="Instantly"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/lemlist.png"
                    srcset="/assets/img/partner/lemlist@2x.png 2x"
                    loading="lazy"
                    alt="Lemlist"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/gohighlevel.png"
                    srcset="/assets/img/partner/gohighlevel@2x.png 2x"
                    loading="lazy"
                    alt="GoHighLevel"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                     src="{%static '/assets/img/partner/close.png' %}"
                    srcset="/assets/img/partner/close@2x.png 2x"
                    loading="lazy"
                    alt="Close.io"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
<!--     ////////////////////////////  This the Partners Slides From Right To Left   /////////////////////////////-->




<!--     ////////////////////////////  This the Liquid Words Bouncing From top Moving Freely   /////////////////////////////-->
<div class="pt-advantage-grid-col -right">
                      <div
                        class="pt-advantage-figure -v2"
                        data-cursor="-opaque"
                      >
                        <div class="pt-advantage-figure-box">
                          <div class="pt-advantage-figure-scene">
                            <div class="pt-fallbox">
                              <div class="pt-fallbox-item -xl -v7">
                                <span>Hey</span>
                              </div>
                              <div class="pt-fallbox-item -xl -v6">
                                <span>Jeff</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v5">
                                <span>potion</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v8">
                                <span>Use</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v9">
                                <span>using</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v10">
                                <span><b>All</b></span>
                              </div>
                              <div class="pt-fallbox-item -lg -v2">
                                <span>AI</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v11">
                                <span>wipe</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v12">
                                <span>build</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v2">
                                <span>auto</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v4">
                                <span>wash</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v1">
                                <span>Sweep</span>
                              </div>
                            </div>
                          </div>


                          <!--     ////////////////////////////  This the Liquid Words Bouncing From top Moving Freely   /////////////////////////////-->
                        </div>
                      </div>
</div>
<!--<<<<<<<<<< //////////////////Nav bar top with Menu Button and Items ///////////////////////////////>>>>>>>>>>>>>>>>>>-->
              <div class="pt-hero-footer">
                <div class="pt-hero-container">
                  <div class="pt-hero-headlines">
                    <div class="pt-hero-headline">
                      <h2>
                        Need my laundry done.<br />
                        Cleaning,Ironing?

                      </h2>
                    </div>
                    <div class="pt-hero-headline">
                      <h2>
                        House is a mess, <br />
                        Utensils unwashed?
                      </h2>
                    </div>
                    <div class="pt-hero-headline">
                      <h2>
                        Home gardening<br/>
                        Weeding <br/>
                        Flowers,Slashing?
                      </h2>
                    </div>
                  </div>
                </div>
              </div>

        <section class="pt-explore">
          <div class="pt-explore-fill"></div>
          <div class="pt-explore-content">
            <div class="pt-explore-container -fixed -xl">
              <div class="pt-explore-header">
                <h2>
                  Join Kwa.mboka to <mark class="-quaternary"> get linked</mark><br />
                  <mark class="-quaternary">with outside Country(Kenya) well paying Jobs</mark> we are talking<br />
                  Canada,Dubai,Qatar,Saudi Arabia,USA,France,United Kingdom etc...
                </h2>
              </div>
              <div class="pt-explore-figure">
                <video
                  src="/assets/video/home/explore/1.mp4?5"
                  autoplay
                  playsinline
                  muted
                  loop
                  preload="auto"
                ></video>
              </div>
              <div class="pt-explore-details">
                <div class="pt-explore-detail">
                  <div class="pt-explore-title">
                    <h3>AI generated screen recordings</h3>
                  </div>
                  <div class="pt-explore-text">
                    <p>
                      Auto-generate screen recordings with personalized
                      backgrounds
                    </p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title">
                    <h3>AI generated facecam videos</h3>
                  </div>
                  <div class="pt-explore-text">
                    <p>
                      Turn your facecam video into thousands of personalized
                      videos
                    </p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title">
                    <h3>Customize branding on video pages</h3>
                  </div>
                  <div class="pt-explore-text">
                    <p>
                      Customize video landing pages with your own branding &
                      domain
                    </p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title"><h3>Calendar embeds</h3></div>
                  <div class="pt-explore-text">
                    <p>Embed calendar widgets right on your video page</p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title"><h3>Custom themes</h3></div>
                  <div class="pt-explore-text">
                    <p>Add stickers, emojis, gifs and images on video pages</p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title"><h3>Secure and safe</h3></div>
                  <div class="pt-explore-text">
                    <p>Potion AI platform is SOC2 Type I compliant</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>