{% load static %}
   <link rel="stylesheet" href="{% static '/academy/css/Academy.css' %}">
  <script type="text/javascript" src="{% static '/academy/js/sw.js' %}"> </script>
    <script type="text/javascript" src="{% static '/academy/js/bundle.js' %}"> </script>
<script src="{% static '/academy/js/bundle.js?v=0.2.19' %}" defer></script>

<nav  class=" pt-navbar">
    <div class="pt-navbar-bg"> </div>
        <div class="pt-navbar-fill"></div>
        <div style="margin-top:-2px;margin-right:75%;" class="pt-navbar-toggle">
          <button  class="pt-btn pt-btn_menu"
                  aria-label="Menu">
            <span>
            </span>
            <span>

            </span>
          </button>
             </div>
        <div class="pt-navbar-strip">
          <div class="pt-navbar-container">
            <div class="pt-navbar-grid">
              <div class="pt-navbar-col -left">
                <div class="pt-navbar-logo -static">
                  <a href="/page" aria-label="Home">
                  </a>
                </div>
              </div>
              <div class="pt-navbar-col -center">
                <div class="pt-navbar-navs">
                  <a
                    class="pt-navbar-nav"
                    href="/Services Offered/"
                    target="_blank"
                    rel="noopener"
                    ><span>Gigs</span></a
                  ><a class="pt-navbar-nav" href="/#pricing"
                    ><span>Pricing</span></a
                  ><a
                    class="pt-navbar-nav"
                    href="/testimonials/"
                    target="_blank"
                    rel="noopener"
                    ><span>Library</span></a
                  ><a class="pt-navbar-nav" href="/faq/"><span>FAQs</span></a
                  ><a
                    class="pt-navbar-nav"
                    href="MbokaAcademy.html"
                    target="_blank"
                    rel="noopener"
                    ><span>Mboa Academy</span></a
                  >
<!--                         <div style="border:none;background-color:#ffffff00; flex-direction: row;display: flex;border-radius:7px;margin-bottom:5px;margin-left:1vw; "  >-->
<!--               <div style="width:100%; border-radius:10px; height:10vh;" class="bty"> </div>-->
<!--               <div style="width:100%; margin-left:10px;border-radius:10px; height:10vh;" class="bty"> </div>-->
<!--               <div style="width:100%; margin-left:10px; border-radius:10px; height:10vh;" class="bty"> </div>-->
<!-- </div>-->
                </div>
              </div>
              <div class="pt-navbar-col -right">
                <div class="pt-navbar-actions">
                  <div class="pt-navbar-action -login"><a
                      class="pt-btn pt-btn_link"
                      href="/Mboka-Account.html"
                      target="_blank"
                      rel="noopener"
                      ><span>Create Account</span>
                    </a>
                     <div class="Contact-mboka">
                    <a href="Contact-mboka.html"> </a>
        </div>
                  </div>

                  <div class="pt-navbar-action -signup">
                    <a
                      class="pt-btn pt-btn_cta pt-btn_bdemo -md -primary"
                      href="/demo/"
                      ><span class="pt-btn_cta-fill"
                        ><span class="pt-btn_cta-ripple -v1"></span
                        ><span class="pt-btn_cta-ripple -v2"></span></span
                      ><span class="pt-btn_cta-title"
                        ><em
                          ><span data-text="Give Us A Call">Call Us</span></em
                        ></span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>