{% load static%}
<footer  style="margin-top:30%; " class="footer bg-gray-200 relative pt-1 border-b-2 mt-10">



    <div class="container mx-auto px-6">
<!--        <div class="page-loader">-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--   <div class="bg-circles">-->

<!--   </div>-->
<!--        </div>-->
        <center>
        <div class="mt-5 flex flex-col items-center">
                <div class="sm:w-2/3 text-center py-6">
                <a  class="bty black-text p" style="font-weight:bold;color:#000; border:none;" href="/page"><img style="width:80px; height:80px ;border-radius:100%;margin-bottom:5px; "  src="{%static 'img/Mboa Academy.jpg'%}" alt="Mboa Technology">
                <p class="my-2 font-bold mb-2">
                      Mboa Technologies
                </p>
                </a>
           <button  style="font-weight:bold;background-color:#DCECC8;border-radius:20px; padding:2px;margin-top:5vh;width:100%; "  class=" view-project-btn btn btn-md mb-8 my-2 font-family:Comic Sans Mn; font-weight-bold black-text p">
            Donate |  <img style="width:50px; font-size:40%;  height:40px;"   src="{% static '/img/mpesa.png'%}"></button>
            </div>
        </div>
        </center>
    </div>
</footer>
