{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
          <link style="width:50px;height:50px;border-radius:100%;" rel="shortcut icon" href="{% static 'img/Mboa Academy.jpg '%}"  id="icon" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="New Wave of Kenyan trade and investing in digital assets" />
        <meta name="author" content="Mboa Technologies" />
        <title>
            {% block head_title %}Mboa Technologies{% endblock %}
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
       <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

        {% block head_extra %}{% endblock %}
    </head>
     <!-- PG Start -->
   <!-- PG End -->
     <div class="page-loader">
      <div></div>
      <div></div>
      <div></div>
   </div>
   <!-- BG Start -->
   <div class="bg-circles">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-5"></div>
       <div style=" background:url({% static 'img/KenyanBrand.jpg' %});" class="circle-4"></div>
            <div style="background-color:transparent;margin-top:-10vh;" class="circle-6"><img style="width:100%; height:100%;border-radius:50%;"   src="{% static 'img/birds1.png'%}" alt="KenyanBrand"> </div>
   </div>
   <!-- BG End -->
   <!-- Overlay Start -->
   <div class="overlay"></div>
   <!-- Overlay End -->
    <body  class="bg-gray-100">
        {% block body %}

        <div class="main hidden" >
         <!-- Header Start -->

         <header class="header">
<div   class="container">
               <div class="row flex-end">
                  <button type="button" class="nav-toggler">
                  <span></span> </button>
                   <div  style="" class="home-img">
                             <div class="nav" style=" width:100%; height:100vh; position:cover; background:url({% static 'img/hero.png' %}); background-repeat:no-repeat;">
                    <div  style="background-color:rgba(0,0,0,0.2);
        opacity:90%; border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);" class="nav-inner">
                        <ul>
                             <div style="margin-left:45vw;margin-bottom:1px; background-color:#001100;"  class="btn">
                         <a style="text-align:center; color:#f6f4f0;" href="P2P/Bots" > Buy Bots</a>
                         </div>
                             <div  class= " btn" style="  margin-left:45vw; margin-top:2px;background-color:red; margin-bottom:1px;">
                            <a  style="color:#f6f4f0; border:2px bold #001100; " href="/accounts/register" > Sign-Up</a>
                   </div>
                               <div  class= " btn" style="  margin-left:45vw; margin-top:2px;background-color:#008800; margin-bottom:10vh;">
                            <a  style="color:#f6f4f0; border:2px bold #001100; " href="/settings" > Settings</a>
                   </div>
                            <div  class= " btn" style="  margin-left:45vw; margin-top:2px;background-color:#ffffff00; margin-bottom:10vh;">
                            <a  style="color:#f6f4f0; border:2px bold #001100; " href="/openSoko" > OpenSoko</a>
                   </div>
                        </ul>
                     </div>
                  </div>
                              </div>
                     </div>
                  </div>
         </header> </div>
         <!-- Header End -->
         <!--Home Section Start -->

            <div class="lg:container lg:mx-auto">

                {% block content %}
                 {% include 'core/messages.html' %}
                <!-- Add content here -->
                {% endblock %}
            </div>
            {% include 'core/footer.html' %}

        {% endblock %}
        {% block footer_extra %}{% endblock %}
    </body>
<div  class="portfolio-popup" style="background-color:rgba(0,0,0,0.2);
        opacity:100%; backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10px;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);">
         <div class="pp-inner">
            <div class="pp-content">
               <div class="pp-header">
                  <button type="button" class="btn pp-close">
                      <i class="fas fa-times"> </i> </button>

                  </div>
                        {% include 'mpesa/LipaNaMpesa.html' %}
               </div>
               <div class="pp-body">
               </div>

            </div>
         </div>

      <!-- Portfolio Item Details Popup Start -->
<script src="{% static 'js/script.js' %}"></script>
</html>