 {% extends 'core/base.html' %}
{% block head_title %}{{ title }}{% endblock %}
{% block content %}
{%load static%}

<section style="color:#000;font-weight:bold; font-family:Comic Sans Mn; background-color:rgba(0,0,0,0.2);
        opacity:90%; border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);" class="home-section align-items-center" id="home">
            <div class="container">
                 {% for message in messages %}
                       <div    class="alert alert-{{ message.tags }} alert-dismissible fade show bty bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mt-2"
      style="z-index:10px;backdrop-filter:blur(10px);margin:5%;border-radius:10px;border:2px solid rgba(255,255,255,0.2); width:80%; background-color:none"  role="alert">
                  <div style="display:flex;flex-direction:row;height:100%;">
                   <img style="opacity:20%; padding:2%; margin-left:-10%;width:40%; height:100%;" class="logoKenya"   src="{% static 'img/KenyanBrand.jpg'%}" alt="profile-img">
                      <div style="margin-left: -10%;width:90%;" class="flex">
            <p style="color:#001100;" class="font-bold">Karibu Bro!,</p>
            <p style="font-family:Comic Sans Mn;font-weight:bold;margin-top:10px;color:green" class="text-sm block sm:inline">{{ message }}</p>
        </div>
                      </div>

     <button  style="margin-right:-10vw;width:100%;border:none;background-color:#ffffff00;margin-top:1vh;" type="button" class="bty ">
                    <a style="color:red;" href="/transactions/report"><i class="fas fa-times"> </i> </a> </button>
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

</div>
          {% endfor %}
               <div class="row align-items-center">
                  <div class="home-text">
                     <center> <div style="display:flex;display-direction:row;">
</div>

                     </center>
     <form action="" style="width:100%; border: 2px solid  #f6f4f0;opacity:1px;color:green;margin-top: 40px; padding:10%; border-radius:40px;" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">

                            <div class="col-span-2">

                                <img  style=" border-radius:100%;margin-bottom:40px;" width="150" height="150" src=" {{user.address.profileimg.url}}" /> <br>
                                 <label >Wooza! {{ user.first_name}} , Update Your Data and Profile Picture ,If You Would Love To That is. Zero Pressure</label>
                                <input style="width:98%;" type="file" name="image" value="" class="bty shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label for="about">Your wisdom.</label>
                                <textarea id="about" name="bio" rows="4"  style="width:98%; border-radius:10px;" class="bty shadow-none bg-gray-100" placeholder="Can be anything Quote,Proverb,Meme....">{{ address_form.bio }}</textarea>
                            </div>

                           <div class="col-span-2">
                                <label for="postal_code">Phone Number</label>
                                <input placeholder="Phone Number" style="width:95%;" type="tel" id="postal_code" value="0{{user_profile.postal_code}}" name="postal_code" class="bty shadow-none bg-gray-100">
                            </div>
                           <div class="col-span-2">
                                <label for="National _id">National ID Number</label>
                                <input placeholder="National Id Number" style="width:95%;" type="number" id="National _id" value="{{user_profile.National_id}}" name="National ID No." class="bty shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label for="National_Passport_No">Passport Number</label>
                                <input placeholder="National  Passport" style="width:95%;" type="number" id="National_Passport_No" value="{{user_profile.National_Passport_No}}" name="National_Passport_No" class="bty shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label for="Kra_Pin">Kra Pin</label>
                                <input placeholder="KRA  Pin" style="width:95%;" type="text" id="Kra_Pin" value="{{user_profile.Kra_Pin}}" name="Kra_Pin" class="bty shadow-none bg-gray-100">
                            </div>
                           <div class="col-span-2">
                                <label > Nick Name</label>
                                <input style="width:95%;" type="text" name="Nick_Name" value="{{user_profile.Nick_Name}}" class="btn shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label > Mboa Code</label>
                                <input style="width:95%;" type="text" name="Slug" value="{{user_profile.slug}}" class="btn shadow-none bg-gray-100">
                            </div>
                             <div class="col-span-2">
                                <label > Wallet Address</label>
                                <input style="width:95%;" type="text" name="Slug" value="{{user_profile.public_key}}" class="btn shadow-none bg-gray-100">
                            </div>
                           <div class="col-span-2">
                                <label > Secret Phrase Address</label>
                                <input style="  width:95%;" type="text" name="private_key" value="{{user_profile.private_key}}" class="btn shadow-none bg-gray-100">
                            </div>
                               <div class="col-span-2">
                                <label > Country</label>
                                <input style="width:95%;" type="text" name="Country" value="{{user_profile.country }}" class="btn shadow-none bg-gray-100">
                            </div>
                             <div class="col-span-2">
                                <label > Town/County</label>
                                <input style="width:95%;" type="text" name="city" value="{{user_profile.city}}"  class=" bty shadow-none bg-gray-100">
                            </div>

                            <div class="col-span-2">
                                <label > Market Near You</label>
                                <input type="text" name="location" value="{{user_profile.location}}" style="width:95%;" class=" btn shadow-none bg-gray-100">
                            </div>

                           <div class="col-span-2">
                                <label > Street Address</label>
                                <input type="text" name="street_address" value="{{user_profile.street_address}}" style="width:95%;" class=" btn shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label > Apartment For Deliveries</label>
                                <input type="text" name="apartment_address" value="{{user_profile.apartment_address}}" style="width:95%;" class=" btn shadow-none bg-gray-100">
                            </div>

                            <div class="col-span-2">
                                         <label for="Joined">Joined</label>
                                <input placeholder="Date Joined..." style="background-color:none;width:95%;" type="tel" id="Joined" value="{{user_profile.created_at }}" name="Joined" class="bty shadow-none bg-gray-100">
                           </div>
                       </div>

                       <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button style=" border-radius:7px;background-color:#000; " class=" bty p-2 px-4 rounded bg-gray-50 text-red-500"> <a style="color:#f6f4f0;" href="/">Cancel</a> </button>
                           <button style=" border-radius:7px; background-color:#008800; color:#001100;" type="submit" class=" bty button bg-blue-700"> Save </button>
                       </div>
                    </form>



                <center>
                        <div style="margin-top:26px;width:80%; border-radius:10px; "  class="btn">
                         <a style=" color:green;" href="/wallet/banks" > Update Bank Accounts</a>

                   </div>


 </center>
                        </div>
               </div>
            </div>
    </section>
     {% endblock %}

