<html lang="en">
{% load  static %}

   <head>
      <title> Mboa Technologies Investor Relations  </title>
           <link style="border-radius:100%;" rel="shortcut icon" href="{% static 'img/Mboa Academy.jpg '%}"  id="icon" >

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <!-- PG Start -->

      <div></div>
      <div></div>
      <div></div>
 <div class="bg-circles">
      <div  style="background-color:transparent;" class="circle-4"><img style="width:100%; height:100%;border-radius:50%; opacity:90%;"   src="{% static 'img/KenyanBrand.jpg'%}" alt="KenyanBrand"></div>

   </div>


   <!-- Overlay Start -->
   <div class="overlay"></div>
   <!-- Overlay End -->
   <body>
      <!-- Main Start -->
      <div class="main hidden">
         <!-- Header Start -->
         <header class="header">
            <div class="container">
               <div class="row flex-end">
                  <button type="button" class="nav-toggler">
                  <span></span>
                  </button>
                  <div class="nav">
                     <div  style="background-color:rgba(0,0,0,0.3);
        opacity:90%; border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);" class="nav-inner">
 <div  style="margin-left:5px;" class="col-lg-3 col-md-6 mb-4">
                         <div style="border:none;background-color:#ffffff00;border-radius:7px;margin:2%;padding:5%;"  >
             <a  style="margin:2%;" href= /openSoko" class=" btn tab-item">OpenSoko</a>
               <a  style="margin:2%;"  href="/Academy" class=" btn tab-item">Mboa Academy</a>
                <a style="margin:2%;"  href="/Bots" class=" btn tab-item">Digital Twins</a>
               <a style="margin:2%;"  href="/plug/posts" class=" btn tab-item">Trends</a>
 </div>
 </div>
                     </div>
                  </div>
               </div>
          </div> </header> </div>
         <!-- Header End -->
         <!--Home Section Start -->
         <section style="background-color:rgba(0,0,0,0.2);
        opacity:90%; border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);" class="home-section align-items-center" id="home">
            <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">
                     <img  class="logo" src="{% static 'img/Mboa Academy.jpg '%}" alt="profile-img">
                      <h1  >  Mboa  Technologies </h1> <br><h3 style="color:#6BBE6E;font-weight:bold;">Investor Relations</h3>
                      <h3 style="color:#f5f6f7;">Jambo, Karibu we're thrilled you're here.Excited to share our vision for the
                          Future.We're a passionate team of Youthful  Developers Building innovative technology
                          solutions Our Ideas are hot.We'd love to tell you more about it.
                          Let's explore how we can change the game together.
                          <br>
                          Thanks & Invest Now
                          <hr style="height:1px;">
                          Abel Omondi,
                          <br>
                          Founder & C.E.O
                           </h3>



                  </div>

<div class="home-text">
                <center>
                        <div style="background-color:#6BBE4E;border:solid 2px #000;" class="btn">
                         <a style=" color:#001100;font-weight:bold;" href="/accounts/register" > Get Started - Now</a>

                   </div>
                     <div style="background-color:#6BBE4E;border:solid 2px #000;" class="btn">
                         <a style=" color:#fff;font-weight:bold;" href="/+mboa" > Find Out Who we are ?</a>

                   </div>




 </center>
</div>
            </div>
     </div> </section>
<section class="home-section align-items-center" id ="support">
    <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">
               <div style="width:20vw; height:25%;margin-top:20px;" class="home-img">

<center>
                   <img style="padding:20%; width:100%; height:50%;" class="logoKenya"   src="{% static 'img/KenyanBrand.jpg'%}" alt="profile-img">

</center>
               </div>
                 <p style="margin-top:40px;">Invest You Money In Mboa Technologies by buying <br>Mboa Coins</p>
                 <a  style=" width:100%; padding:20%; position:center;" class="bty" href="/Deposit" ><h1>Support</h1></a>
                  </div>
               </div>
    </div>
</section>

<section class="home-section align-items-center" id ="Assets">
    <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">
               <div style="width:20vw; height:25%;margin-top:20px;" class="home-img">

<center>
                   <img style="padding:20%; width:100%; height:50%;" class="logoKenya"   src="{% static 'img/KenyanBrand.jpg'%}" alt="profile-img">

</center>
               </div>
                 <p style="margin-top:40px;">Invest You Money In Mboa Technologies by buying <br>Mboa Coins</p>
                 <a  style=" width:100%; padding:20%; position:center;" class="bty" href="/Deposit" ><h1>Assets</h1></a>
                  </div>
               </div>
    </div>
</section>

      <script src="{% static 'js/script.js' %}"></script>

   </body>
</html>